@media all and (max-width: 1366px) {

    .movieBox{
        h1 {
            font-size:18px;
        }

        h2 {
            font-size:14px;
        }
    }
}

@media all and (max-width: 769px){
    html{
        overflow-y: auto;
    }

    .shower, .titles-container{
        width: 100%;
        top: 8%;
    }

    .shower {
        height: 622px;
    }

    .titles-container {
        width: 100%;
    }

    .searchPane.active {
        .itemBox, .movieBox {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .itemBox:not(.Me), .movieBox:not(.Me) {
        margin: 0.5rem 2rem;
      }

      .itemBox .favs, .movieBox .favs {
        display: block !important;
        -webkit-animation: unset !important;
        animation: unset !important;
      }
      
      .itemBox:first-child {
        margin-top: 6rem;
      }
}

@media all and (max-width: 480px){
    .modal {
        img{
            min-width: 100%;
        }
    }
}